<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<body style = "background-color: #ebebeb">
<section class="login-view">
	<div class="container">
    	<div class="row">
  			<div class="col-lg-3"></div>
          <div class="col-lg-6" style="margin-top: -20px;">
            <div align="center">
              <img src = "/images/logo.png" class = "img-responsve"/>
	    			  <h2>Change Password</h2>
	        		<p>Change your password in able to authenticate your account</p>
	    		  </div>
	        	<div class="panel panel-default">
	        		<div class="panel-body" style="background-color:white;">
						  <div class="col-lg-1"></div>
						<form id="forgotPasswordForm" class="form-horizontal" method="post" action = "">
							<div class="col-lg-10" style="margin-top: 50px;">
								<div class="form-group">
						  			<label class="control-label" for="inputDefault"><small style = " color:white;">New Password</small></label>
                    <input type = "text" placeholder="Input New Password" value = "<%= objectId %>" name = "objectId" class = "hidden">
                    <input type = "text" placeholder="Input New Password" name = "password" class = "form-control" id = "password">
								</div>
								<div class="form-group">
						  			<label class="control-label" for="inputDefault"><small style = " color:white;">Re type Password</small></label>
						  			<input type = "text" placeholder="Re Type New Password" name = "rePassword" class = "form-control" id = "rePassword">
								</div>
								<div class="form-group">
                  <button type = "submit" style="margin-bottom: 25px; margin-top: 25px;" class="btn btn-danger btn-md btn-block" disabled>Update Password</button>
								</div>
							</div>
						</form>
						<div class="col-lg-1"></div>
	        		</div>
	        	</div>
            </div>
            <div class="col-lg-3"></div>
		</div>
	</div>
</section>
</body>

<footer class="footer-container footer" style="background: #d20d14; padding-top:20px;">
      <div class="container text-left">
         <div class="col-lg-12">
      		<div class="col-md-4">
      			<p style = "color:white;"><b>Get to know us</b><p>
      			<ul style = "list-style-type: none;">
              <li><a href = "#" style = "color:white;">Home</a></li>
              <li><a href = "#" style = "color:white;">About Us</a></li>
              <li><a href = "#" style = "color:white;">Corporate</a></li>
              <li><a href = "#" style = "color:white;">Responsibilities</a></li>
              <li><a href = "#" style = "color:white;">Contact Us</a></li>
              <li><a href = "#" style = "color:white;">Location</a></li>
            </ul>
      		</div>
          <div class="col-md-4">
      			<p style = "color:white;"><b>Help</b><p>
      			<ul style = "list-style-type: none;">
              <li><a href = "#" style = "color:white;">FAQ</a></li>
              <li><a href = "#" style = "color:white;">How Does Stardibs Work</a></li>
              <li><a href = "#" style = "color:white;">How to Claim</a></li>
              <li><a href = "#" style = "color:white;">Payment Methods</a></li>
              <li><a href = "#" style = "color:white;">Announcements</a></li>
              <li><a href = "#" style = "color:white;">Reward Points</a></li>
            </ul>
      		</div>
          <div class="col-md-4">
      			<p style = "color:white;"><b>Legal</b><p>
      			<ul style = "list-style-type: none;">
              <li><a href = "#" style = "color:white;">Terms & Conditions</a></li>
            </ul>
      		</div>
    	</div>
      	<div class="col-md-12">
      		<p class = "text-center" style = "color:white;">&copy Copyright 2016 All Rights Reserved - FireSale Philippines</p>
      	</div>
  	  </div>
	</footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src = "/javascripts/validator.js"></script>
  <script src = "/javascripts/forgotPasswordValidation.js"></script>
