<html>
<link rel = "stylesheet" href='/stylesheets/bootstrap.min.css'/>
<div class = "container">
	<div class = "row">
		<form class='form-signin' action='/firesale-auth/signup' method='POST'>
			<div style = "padding-top: 50px;"></div>
			<h3>Register Test</h3>
				<p>
					<input type='text' name='username' class='form-control' placeholder='Username' required autofocus>
				</p>

				<p>
					<input type='password' name='password' class='form-control nomargin' placeholder='Password' required>
				</p>

				<p>
					<textarea name = "address" class='form-control nomargin' placeholder='Address' required></textarea>
				</p>

				<p>
					<input type = "text" name = "birthdate" class='form-control nomargin' placeholder='Birthdate' required>
				</p>

				<p>
					<input type = "text" name = "contact" class='form-control nomargin' placeholder='Contact Number' required>
				</p>

				<p>
					<input type='email' name='email' class='form-control' placeholder='Email' required>
				</p>

				<p>
				<input type='text' name='fullname' class='form-control' placeholder='Full Name' required>
				</p>

				<p>
					<button type = "submit" class = "btn btn-primary"> Register</button>
				</p>
			</form>
		</div>
	</div>
<html>
